{# TEMPLATE VAR SETTINGS #}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
  {%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
  {%- set titlesuffix = "" %}
{%- endif %}

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  {{ metatags }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block htmltitle %}
  <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
  {% endblock %}

  {# FAVICON #}
  {% if favicon %}
    <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
  {% endif %}

  {# CSS #}

  {# OPENSEARCH #}
  {% if not embedded %}
    {% if use_opensearch %}
      <link rel="search" type="application/opensearchdescription+xml" title="{% trans docstitle=docstitle|e %}Search within {{ docstitle }}{% endtrans %}" href="{{ pathto('_static/opensearch.xml', 1) }}"/>
    {% endif %}

  {% endif %}

  {# RTD hosts this file, so just load on non RTD builds #}
  {% if not READTHEDOCS %}
    <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" />
  {% endif %}

  {% for cssfile in css_files %}
    <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
  {% endfor %}

  {% for cssfile in extra_css_files %}
    <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
  {% endfor %}

  {%- block linktags %}
    {%- if hasdoc('about') %}
        <link rel="author" title="{{ _('About these documents') }}"
              href="{{ pathto('about') }}"/>
    {%- endif %}
    {%- if hasdoc('genindex') %}
        <link rel="index" title="{{ _('Index') }}"
              href="{{ pathto('genindex') }}"/>
    {%- endif %}
    {%- if hasdoc('search') %}
        <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}"/>
    {%- endif %}
    {%- if hasdoc('copyright') %}
        <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}"/>
    {%- endif %}
    <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}"/>
    {%- if parents %}
        <link rel="up" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}"/>
    {%- endif %}
    {%- if next %}
        <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}"/>
    {%- endif %}
    {%- if prev %}
        <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}"/>
    {%- endif %}
  {%- endblock %}

  {%- block extrahead %} {% endblock %}

  {# ARTICLE CANONICAL URL

     Put last in head to ensure it overrides whatever Read The Docs
     wants to inject in this page.
  #}
  {% if pagename in canonical_urls %}
    <link rel="canonical" href="{{ canonical_urls[pagename] }}" />
  {% endif %}
</head>

<body class="wy-body-for-nav" role="document">
  <div class="header">
  <div class="section-wrap"> 
              <div class="utility-nav">
              </div>
                      <a href="https://www.citusdata.com" title="Citus Data" rel="home" class="logo">
            <img src="{{ pathto('_static/images/citus-logo.png', 1) }}" alt="Citus Data">
          </a>
              <div class="clear"></div>
  </div>
  </div>
  <div class="nav-wrap menu">
    <div class="section-wrap">
      <ul>
        <li><a href="https://www.citusdata.com/product/citus">Product</a></li>
        <li><a href="https://www.citusdata.com/solutions/applications">Solutions</a></li>
        <li><a href="https://www.citusdata.com/blog">Blog</a></li>
        <li><a href="#">Documentation</a></li>
      </ul>
    </div>
  </div>

  {% block extrabody %} {% endblock %}
  {% block header %}
    <div id="cookie-banner"></div>
  {% endblock %}
  <div class="wy-grid-for-nav">

    {# SIDE NAV, TOGGLES ON MOBILE #}
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          {% block sidebartitle %}

          {% if logo and theme_logo_only %}
            <a href="{{ pathto(master_doc) }}">
          {% else %}
            <a href="{{ pathto(master_doc) }}" class="icon icon-home"> {{ project }}
          {% endif %}

          {% if logo %}
            {# Not strictly valid HTML, but it's the only way to display/scale it properly, without weird scripting or heaps of work #}
            <img src="{{ pathto('_static/' + logo, 1) }}" class="logo" />
          {% endif %}
          </a>

          {% if theme_display_version %}
            {%- set nav_version = version %}
            {% if READTHEDOCS and current_version %}
              {%- set nav_version = current_version %}
            {% endif %}
            {% if nav_version %}
              <div class="version">
                {{ nav_version }}
              </div>
            {% endif %}
          {% endif %}

          {% include "searchbox.html" %}

          {% endblock %}
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          {% block menu %}
            {% set toctree = toctree(maxdepth=4, collapse=theme_collapse_navigation, includehidden=True) %}
            {% if toctree %}
                {{ toctree }}
            {% else %}
                <!-- Local TOC -->
                <div class="local-toc">{{ toc }}</div>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      {# MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE #}
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <a href="{{ pathto(master_doc) }}">{{ project }}</a>
      <ul>
        <li><a href="https://www.citusdata.com/product/citus">Product</a></li>
        <li><a href="https://www.citusdata.com/solutions/applications">Solutions</a></li>
        <li><a href="https://www.citusdata.com/blog">Blog</a></li>
        <li><a href="#">Documentation</a></li>
      </ul>
      </nav>


      {# PAGE CONTENT #}
      <div class="wy-nav-content">
        <div class="rst-content">
          {% include "breadcrumbs.html" %}
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
             {% block body %}{% endblock %}
           </div>
          </div>
          {% include "footer.html" %}
          <script>

</script>
<script>

/**
* Workaround to ensure its argument *is* called within opt_timeout
* of this function returning it for use in a callback.
* This applies to Analytics callbacks which are thwarted by an
* ad blocker.
*/
var createFunctionWithTimeout = function(callback, opt_timeout) {
  var called = false;
  function fn() {
    if (!called) {
      called = true;
      callback();
    }
  }
  setTimeout(fn, opt_timeout || 1000);
  return fn;
}

/**
* Function that tracks a click on an outbound link in Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label. Setting the transport method to 'beacon' lets the hit be sent
* using 'navigator.sendBeacon' in browser that support it.
*/
var trackOutboundLink = function(url) {
  ga('send', 'event', 'outbound', 'click', url, {
    'transport': 'beacon',
    'hitCallback': createFunctionWithTimeout(function(){document.location = url;}, 500)
  });
}
</script>

        </div>
      </div>
      <img src="https://citus-pt.herokuapp.com/logo.gif" />

    </section>

  </div>
  {% include "versions.html" %}

  {% if not embedded %}

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'{{ url_root }}',
            VERSION:'{{ release|e }}',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'{{ '' if no_search_suffix else file_suffix }}',
            HAS_SOURCE:  {{ has_source|lower }}
        };
    </script>
    {%- for scriptfile in script_files %}
      <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
    {%- endfor %}

  {% endif %}

  {# RTD hosts this file, so just load on non RTD builds #}
  {% if not READTHEDOCS %}
    <script type="text/javascript" src="{{ pathto('_static/js/theme.js', 1) }}"></script>
  {% endif %}

  {# STICKY NAVIGATION #}
  {% if theme_sticky_navigation %}
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
  {% endif %}

  {%- block footer %}
	  <script>
		var cookieBanner = document.createElement('div');
		cookieBanner.id = 'cookie-banner';
		document.body.prepend(cookieBanner);
	  </script>

	  
	  <script src='https://wcpstatic.microsoft.com/mscc/lib/v2/wcp-consent.js'></script>

	  
	  <script type="text/javascript">
		function loadHeap() {
		  window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
		  heap.load("4002524638");
		  console.log("loading tracking scripts");
		}
		function onConsentChanged(categoryPreferences) {
		  ga('send', 'event', 'cookie consent', 'changed', window.location.href + "(" + categoryPreferences + ")");
		  console.log("onConsentChanged", categoryPreferences);
		  if (categoryPreferences.Analytics) {
			loadHeap();
		  }
		}
		function manageConsent() {
		  if(siteConsent.isConsentRequired){
			siteConsent.manageConsent();
		  }
		}
		window.WcpConsent && WcpConsent.init("en-US", "cookie-banner", function (err, _siteConsent) {
		  if (!err) {
			siteConsent = _siteConsent;
			console.log(siteConsent);
			if (_siteConsent.isConsentRequired == false) {
			  loadHeap();
			  var mngLink = document.createElement('span'),
				  userConsent = siteConsent.getConsent();
			  mngLink.innerHTML = '<a href="https://privacy.microsoft.com/privacystatement" target="_blank" rel="noopener">Privacy Statement</a><br><br>';
			  document.querySelector("footer div[role=contentinfo]").prepend(mngLink);
			}
			else {
			  var mngLink = document.createElement('span'),
				  userConsent = siteConsent.getConsent();
			  mngLink.innerHTML = '<a href="https://privacy.microsoft.com/privacystatement" target="_blank" rel="noopener">Privacy</a> | <a href="javascript:void(0)" id="mng-cookies">Manage Cookies</a><br><br>';
			  document.querySelector("footer div[role=contentinfo]").prepend(mngLink);
			  if (userConsent.Analytics == true) {
				loadHeap();
			  }
			  var clickMng = document.querySelector('#mng-cookies');
			  clickMng.addEventListener('click', function (event) {
				manageConsent();
			  });
			}
		  } else {
			console.log("Error initializing WcpConsent: "+ err);
		  }
		}, onConsentChanged, WcpConsent.themes.dark);
		window.consentCheckRequired = true;
	  </script>
  {% endblock %}

</body>
</html>
