/* General */

h1,h2,.rst-content .toctree-wrapper p.caption,h3,h4,h5,h6,legend {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif !important;
}

.rst-content span.highlighted {
  background: #FFC;
}

.btn-fat {
  padding: 1em !important;
}

/* Front page grid */

.front-menu a.box {
  color: #444;
  padding: 1em;
  box-shadow: 2px 2px 4px 4px #CCC;
  display: block;
  height: 100%;
}

.front-menu > div {
  width: 100%;
  margin: 1em 0;
}

.front-menu a.box img {
  float: left;
  margin-right: 0.5em;
}

.front-menu .box:hover {
  box-shadow: 2px 2px 4px 4px #AAA;
  background: white;
}

/* Side menu customization */

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #eee;
}

.wy-side-nav-search {
  background-color: white;
}

.wy-side-nav-search > div.version,
.wy-side-nav-search > a.icon-home {
  color: #999 !important;
}

/* override table width restrictions */

@media screen and (min-width: 767px) {
  .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from overriding
    this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
  }
}

/* Mobile dropdown */

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown > a.homepage {
  display: block; /* prevent inlining of logo */
}

/* Remove ads */

div.wy-menu.rst-pro {
  display: none !important;
}
