/* General */

h1,h2,.rst-content .toctree-wrapper p.caption,h3,h4,h5,h6,legend {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif !important;
}

.rst-content span.highlighted {
  background: #FFC;
}

/* Front page grid */

.front-menu a.box {
  color: #444;
  padding: 1em;
  box-shadow: 2px 2px 4px 4px #CCC;
  display: block;
  height: 100%;
}

.front-menu > div {
  width: 100%;
  margin: 1em 0;
}

.front-menu a.box img {
  float: left;
  margin-right: 0.5em;
}

.front-menu .box:hover {
  box-shadow: 2px 2px 4px 4px #AAA;
  background: white;
}

/* Side menu customization */

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #eee;
}

.wy-side-nav-search {
  background-color: white;
}

.wy-side-nav-search > div.version,
.wy-side-nav-search > a.icon-home {
  color: #999 !important;
}

/* Mobile dropdown */

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown > a.homepage {
  display: block; /* prevent inlining of logo */
}

/* Remove ads */

div.wy-menu.rst-pro {
  display: none !important;
}

/* Cookie consent */

#consentBox {
  border-radius: 1em 1em 0 0;
  padding: 1.5em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9999999999;
  width: 450px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, .9);
  color: #e7e7e7;
  font-size: 0.8em;
  font-weight: 300;
  text-align: left;
  overflow: hidden;
  letter-spacing: 0.02em;
  line-height: 1.4;
  box-shadow: 0 0 0 #239f49, 0 0 10px #239f49;
}
@media screen and (min-width: 480px) {
  #consentBox {
    margin: 0 1em;
  }
}
#consentBox .consent-text {
  padding-left: 2.5em;
  position: relative;
}
#consentBox .consent-text a {
  text-decoration: underline;
}
#consentBox .consent-text:before {
  content: "i";
  font-size: 1.25em;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
  text-align: center;
  border: #e7e7e7 1px solid;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-style: italic;
  font-weight: 400;
  box-sizing: border-box;
}
#consentBox .btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #239f49;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: 1.125em 3em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
#consentBox .btn:hover {
  background-color: #2cc95c;
  color: #ffffff;
  outline: none;
}
#consentBox .consent-button {
  margin-top: 1.5em;
  padding-left: 2.5em;
}
#consentBox p:last-of-type {
  margin-bottom: 0;
}

#consentBox .consent-text a { color: #239f49; transition: color .2s ease; }
#consentBox .consent-text a:hover, #consentBox .consent-text a:focus { color: #2cc95c; }
#consentBox .consent-text a:visited { color: #239f49; }
#consentBox .consent-text p { font-size: inherit; line-height: inherit; }
